body{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

nav{
    background-color: #0E2E49;
    color: rgb(255, 255, 255);
}

#search, #search2 { /*envelope write the shape of the search bar to adapt it to the layout*/
    width: 174px;
    border-radius: 30px;
    margin-left: 20px;
}

.navbar-dark .navbar-nav .nav-link{
    color: white ;
}

.welcome{
    background-image: url("../img/banner.png");
    width: auto;
    height: 500px;
    background-position: right; /*Set the image in its rightful place to work properly in all the screens*/
    background-repeat: no-repeat;
}

.welcome-text{ /* Set the text in the right spot*/
    padding: 300px 0px 0px 40px;  
}
.welcome a, .lastest-work a{
    background-color: #0E2E49;
    padding: 12px 24px 12px 24px;
    border-radius: 30px;
    text-decoration:none;
    color: white;
}

.lastest-work {
    display: grid;
    grid-gap: 20px;
}

.lastest-work-text {
    text-align: center;
}

.lastest-work img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.lastest-work-button{
    display: flex; /*Set the button in the middle of the page*/
    justify-content: center;
    
}

.lastest-work-one, .lastest-work-two, .lastest-work-three, .lastest-work-four , .lastest-work-five, .lastest-work-six{
    background-color: violet;
}

footer{
    background-color: #0E2E49;
    color: white;
}
.footer-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 100px 1fr 1fr 50px;
    grid-template-areas: 
    "logof logof"
    "navf search"
    "contact contact"
    "copyright copyright";
}
.footer-logo{
    grid-area: logof;
    text-align: center;
}
.nav-footer{
    grid-area: navf;
}
.contact-footer{
    grid-area: contact;
}
.contact-footer li p{
    padding-left: 5px;
    display:inline-flex; /*set the text inline with the icon*/
}
.search-footer{
    grid-area: search;
    display: flex;
    justify-content:flex-end;
}
.copy-footer{
    grid-area: copyright;
    text-align: center;
}
/********************************************PORTFOLIO PAGE*****************************************/
.title{
    font-size: 2rem;
    text-align: center;
}
.portfolio-text, .portfolio-ux, .portfolio-graphic, .portfolio-web,.portfolio-photo{
    background-color: violet;
}
.portfolio{
    display: grid;
    grid-gap: 20px;
}

.portfolio img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
/********************************************ABOUT PAGE*****************************************/
.about{
    display: grid;
    grid-gap: 20px;
}
.about-profile{
    display: grid;
    grid-gap: 10px;
}
.about-location, .about-email,.about-phone,.about-behance{
    
    display:flex; /*set the text inline with the icons*/
    align-items: center;
}
.about-profile p {
    padding-left: 10px;
    margin: unset;
}
.about-title-profile h2{
    margin: unset;
}
.about-photo{
   display: flex;
   justify-content: center;
   
}
.about-photo img{
    border-radius: 20px;
}
/********************************************CONTACT PAGE*****************************************/
.contact{
    display: grid;
    grid-gap: 20px;
}

.contact-email,.contact-phone,.contact-linkedin,.contact-behance,.contact-facebook, .contact-instagram{
    display:flex; /*set the text inline with the icons*/
    align-items: center;
}

.contact-email p,.contact-phone p,.contact-linkedin p,.contact-behance p,.contact-facebook p, .contact-instagram p{
    padding-left: 10px;
}

@media (min-width: 800px){
    .welcome-text{
        padding: 40px;
    }
    .lastest-work {
        grid-template-rows: 50px 1fr 1fr 1fr 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "text text"
        "ux graphic-cream "
        "graphic-frog web "
        "graphic-brand photography "
        "button button";
    }

    .lastest-work-text{
        grid-area: text;
    }
    .lastest-work-one{
        grid-area: ux;
    }
    .lastest-work-two{
        grid-area: graphic-cream;
    }
    .lastest-work-three{
        grid-area: graphic-frog;
    }
    .lastest-work-four{
        grid-area: web;
    }
    .lastest-work-five{
        grid-area: graphic-brand;
    }
    .lastest-work-six{
        grid-area: photography;
    }
    .lastest-work-button{
        grid-area: button;
    }
   
    .footer-container{
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-areas: 
        "logof navf contact search"
        "logof navf contact copyright";
    }
    .copy-footer{
        display: flex;
        align-items: flex-end;
        justify-content:flex-end
    }
    /********************************************PORTFOLIO PAGE*****************************************/
    .portfolio{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 1fr 1fr ;
        grid-template-areas: 
        "title title"
        "ux graphic"
        "web photo";
    }
    .portfolio-text{
        grid-area: title;
    }
    .portfolio-ux{
        grid-area: ux;
    }
    .portfolio-graphic{
        grid-area: graphic;
    }
    .portfolio-web{
        grid-area: web;
    }
    .portfolio-photo{
        grid-area: photo;
    }
    /********************************************ABOUT PAGE*****************************************/
    .about{
        grid-template-columns:repeat(2, 1fr) ;
        grid-template-rows:50px 1fr 30px 200px ;
        grid-template-areas:
        "about-title about-title"
        "about-welcome image"
        "about-title-profile about-title-profile"
        "profile profile" ;
    }
    .about-title{
        grid-area: about-title;
    }
    .about-welcome{
        grid-area: about-welcome;
    }
    .about-photo{
        grid-area: image;

    }
    .about-profile{
        grid-area: profile;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "about-location about-phone"
        "about-email about-behance" ; 
    }
    .about-location{
        grid-area: about-location;
    }
    .about-email{
        grid-area: about-email;
    }
    .about-phone{
        grid-area: about-phone;
    }
    .about-behance{
        grid-area: about-behance;
    }

    /********************************************CONTACT PAGE*****************************************/
    .contact{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 200px 1fr 1fr 1fr;
        grid-template-areas: 
        "contact-title contact-title"
        "contact-welcome contact-welcome"
        "contact-email contact-behance"
        "contact-phone contact-facebook"
        "contact-linkedin contact-instagram";
    }
    .contact-title{
        grid-area: contact-title;
    }
    .contact-welcome{
        grid-area: contact-welcome;
    }
    .contact-email{
        grid-area: contact-email;
    }
    .contact-phone{
        grid-area: contact-phone;
    }
    .contact-linkedin{
        grid-area: contact-linkedin;
    }
    .contact-behance{
        grid-area: contact-behance;
    }
    .contact-facebook{
        grid-area: contact-facebook;
    }
    .contact-instagram{
        grid-area: contact-instagram;
    }
}   

@media (min-width: 1280px) {
    .lastest-work {
        grid-template-rows: 50px 1fr 1fr 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "text text text"
        "ux graphic-cream graphic-frog "
        "web graphic-brand photography"
        "button button button";
    }
    /********************************************ABOUT PAGE*****************************************/
    .about {
        grid-template-areas:
        "about-title about-title"
        "about-welcome image"
        "about-title-profile image "
        "profile  image" ;
    }
    /********************************************CONTACT PAGE*****************************************/
    .contact{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 200px 1fr 1fr ;
        grid-template-areas: 
        "contact-title contact-title contact-title"
        "contact-welcome contact-welcome contact-welcome"
        "contact-email contact-linkedin contact-facebook"
        "contact-phone contact-behance contact-instagram"
        ;
    }
}
