
section h2{
    text-align: center;
}
.contact{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px repeat(3, 1fr) ; 
    grid-gap: 20px;
    grid-template-areas: 
    "contact contact"
    "map map"
    "map map"
    "sprinkles icecream";
}

.contact-title{
    grid-area: contact;
}
.contact-maps{
    grid-area: map;
}
.contact-sprinkles{
    grid-area:sprinkles;
}
.contact-icecream{
    grid-area:icecream;
}
.contact-sprinkles img, .contact-icecream img {
    border-radius: 23px;
    width: 100%;
    height: auto;
}
.contact-maps iframe{
    border-radius: 23px;
    width: 100%;
    height: 100%;
}

.contact-icons{
    display:grid;
    grid-gap: 20px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "location"
    "facebook"
    "instagram"
    "telephone"
    "email"
    "chat";
    padding-left: 40px;
}
.contact-location img, .contact-facebook img, .contact-instagram img,.contact-tel img, .contact-email img, .contact-chat img{
    width: 66px;
    height: 66px;
    margin-right: 10px;
}
.contact-location{
    grid-area: location ;
    display:inline-flex; /*set the text inline with the image*/
    align-items: center;
}
.contact-facebook{
    grid-area: facebook ;
    display:inline-flex;
    align-items: center;
}
.contact-instagram{
    grid-area: instagram;
    display:inline-flex;
    align-items: center;
}
.contact-tel{
    grid-area: telephone;
    display:inline-flex;
    align-items: center;
}
.contact-email{
    grid-area: email;
    display:inline-flex;
    align-items: center;
}
.contact-chat{
    grid-area: chat;
    display:inline-flex;
    align-items: center;
}
@media (min-width: 800px){
    .contact {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 90px repeat(2, 1fr); 
        grid-template-areas: 
        "contact contact contact contact"
        "map map map sprinkles"
        "map map map icecream";
    }
    .contact{
        padding: 0px 40px 0px 40px;
    }
    .contact-icons{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "location telephone"
        "facebook email"
        "instagram chat";
    } 
}
