.welcome{
    background-color: #A79BBF;
    display: grid;
    color: white;
    padding-bottom: 40px;
}
.welcome a{
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    text-decoration:none;
    font-weight: bold;
    color: #A79BBF;
}
.welcome a:hover{
    color: #707070;
}
.welcome p{
    padding-bottom: 20px;
}
.welcome-image{
    animation-name: icecream;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
@keyframes icecream{
    0%{
      transform: translate(-1000px, 0px);
    }
    100%{
       transform: translate(10px, 0px);
    }  
}
.welcome-image:hover{
    animation-name: hove-icecream;
    animation-delay: 0s;
}
@keyframes hover-icecream{
    0%{
      transform: translate(-1000px, 0px);
    }
    100%{
       transform: translate(10px, 0px);
    }  
}

.flavours{
    display: grid; 
}
.flavours div{ /*puts the images in the middle of the page*/
    margin: 0px auto 0px auto;
}
.flavours-text, h3{
    text-align: center;
}
.toppings{
    background-color: #FDF3A9;
    display: grid;
    grid-gap: 22px;
    grid-template-rows: 160px 1fr 1fr 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "topping topping "
    "sprinkles caramel "
    "chocolat gummies "
    ". more ";
}

.toppings-text {
    grid-area: topping;
    text-align: center;
}
.toppings-sprinkles {grid-area: sprinkles;}
.toppings-caramel {grid-area: caramel;}
.toppings-chocolate {grid-area: chocolat;}
.toppings-gummies {grid-area: gummies;}
.toppings-more {
    grid-area: more;
    display:inline-flex; /*set the text inline with the arrow image*/
    justify-self:right; 
    align-items: center;
}
/*flex-end and start puts the images close to the gap */
.toppings-sprinkles,.toppings-chocolate{
    display: flex;
    justify-content: flex-end;
}
.toppings-caramel,.toppings-gummies{
    display: flex;
    justify-content: flex-start; 
}
.toppings img{
    border-radius: 23px;
    margin-left: 5px;
}
.toppings img:hover{
    animation-name: toppings-images;
    animation-duration: 5s;
    cursor: pointer;
}

@keyframes toppings-images{
    0%{
        opacity: 1; 
    }
    50%{
        opacity: 0.1; 
    }
    100%{
        opacity: 1;
    }
}
.toppings a{
    text-decoration:none;
    color: #000;
}
.toppings-more img{
    width: 29px;
    height: 29px;
}

.toppings-more{
    animation-name: viewmore;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    
}
@keyframes viewmore{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
         transform: scale(1);
    }
}
.toppings-more:hover{
    animation-name: hover-viewmore;
    animation-delay: 0s;
    cursor: pointer;
}
@keyframes hover-viewmore{
    0%{
        transform: translate(0px, 0px);
      }
      50%{
         transform: translate(50px, 0px);
      }  
      100%{
          transform: translate(0px, 0px);
    } 
}

@media (min-width: 800px){
    .welcome{ 
        padding-bottom: 0px;
        grid-template-columns: repeat(2, 1fr);
    }
    .welcome-text{
        margin: auto 50px auto 0px;
    }
    .flavours{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px 1fr 1fr;
        grid-template-areas: 
        "flavours flavours"
        "fgreen fblue"
        "fpurple .";
    }
    .flavours-text{ 
        grid-area: flavours;
    }
    .flavours-green{
        grid-area: fgreen;
    }
    .flavours-blue{
        grid-area: fblue;
    }
    .flavours-purple{
        grid-area: fpurple;
    }
    .toppings-more {
        margin-right: 30px;
    }

}
@media (min-width: 1280px){


    .flavours{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "flavours flavours flavours"
        "fgreen fblue fpurple";
    }
    .toppings{
        grid-template-rows: 200px 1fr 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "topping topping topping topping"
        "sprinkles caramel chocolat gummies "
        ". . . more ";
    }
}