*{
    box-sizing:border-box;
}
.toppings{
    background-color: #FDF3A9;
    display: grid;
    grid-gap: 22px; 
}
.toppings h2,.toppings h5,.toppings p {
    text-align: center;
}
.toppings img{
    border-radius: 23px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
}

@media (min-width: 800px){
    .toppings{
        grid-template-rows: 160px 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "topping topping "
        "sprinkles caramel "
        "chocolat gummies "
        "oreo marshmallows"
        "nuts .";
    }
    .toppings div{
        width: 80%;
        margin: auto;
    }
    
    .toppings-text {
        grid-area: topping;
    }
    .toppings-sprinkles {
        grid-area: sprinkles;
    }
    .toppings-caramel {
        grid-area: caramel;
    }
    .toppings-chocolate {
        grid-area: chocolat;
    }
    .toppings-gummies {
        grid-area: gummies;
    }
    .toppings-oreo {
        grid-area: oreo;
    }
    .toppings-marshmallows {
        grid-area: marshmallows;
    }
    .toppings-nuts {
        grid-area: nuts;
    }
}
@media (min-width: 1280px){
    .toppings{
        grid-template-rows: 160px 1fr 1fr ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "topping topping topping topping "
        "sprinkles caramel chocolat gummies "
        "oreo marshmallows nuts .";
    }

}